doctype html
html 
include componentes/head.pug
include componentes/header.pug
include componentes/main.pug

include componentes/search.pug
include componentes/cards.pug

include componentes/footer.pug
