main
  picture.contenido__imagen
    img(src='imagenes/too3.jpeg' alt='Imagen principal')
.search
  .flexsearch
    h2 Recipes &#x1F469;&zwj;&#x1F373; 
    .flexsearch--wrapper
      .flexsearch--input-wrapper
        input.flexsearch--input(type='search' placeholder='Search recopes and more...')
      input.flexsearch--submit(type='submit' value='')
    button.btn3
      | Sort by:
      b  Newest
      span.icon-ctrl